<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
>
  <!-- para desarollo despues eliminar  -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
    rel="stylesheet"
  />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

  <!-- para desarollo despues eliminar  -->

  <nav
    th:fragment="nav_bar"
    class="relative flex w-full flex-wrap items-center justify-between bg-purple-500 
    shadow-2xl shadow-purple-600 py-2 text-neutral-500 shadow-lg hover:text-neutral-700 
    focus:text-neutral-700 dark:bg-neutral-600 lg:py-4">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
      <div class="ml-2">
        <a class="text-3xl font-bold text-white dark:text-neutral-200" href="#"
          >Grupo Lem</a
        >
      </div>
      <div class="flex ml-auto">
        <!-- Se agregan los tres nuevos enlaces aquí con la clase ml-auto -->
        <a
          class="ml-4 text-2xl font-bold text-white hover:text-amber-200"
          href="#"
          >Enlace 1</a
        >
        <a
          class="ml-4 text-2xl font-bold text-white hover:text-amber-200"
          href="#"
          >Enlace 2</a
        >
        <a
          class="ml-4 text-2xl font-bold text-white hover:text-amber-200"
          href="#"
          >Enlace 3</a
        >
      </div>
      <div
        class="p-2 text-white bg-purple-400 hover:bg-purple-300 ml-2 rounded-lg"
      >
        <a href="#" id="logout-link">Cerrar sesión</a>
      </div>
    </div>
  </nav>
</html>
