<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
>
  <!-- para desarollo despues eliminar  -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
    rel="stylesheet"
  />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

  <!-- para desarollo despues eliminar  -->


   <section
   class="bg-lime-300 min-h-screen bg-cover bg-center flex flex-col items-center justify-center"
    th:fragment="paquetes" 
    id="paquetes"
   >
   <p class="text-sky-600 font-extrabold whitespace-nowrap mt-52 mb-8 text-7xl ">Paquetes Armados</p>

   <!-- seccion de cards inicio -->
   <div class="flex flex-col md:flex-row mb-8">
    <div class="max-w-sm bg-lime-200 border border-gray-200 rounded-lg shadow  mb-4 md:mr-4 md:mb-0 md:flex-1">
      <a href="#">
        <img class="rounded-t-lg" src="https://img.molachinoviajes.com/gallery/var/albums/erol-ahmed-d3pTF3r_hwY-unsplash.jpg?m=1708900727" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-sky-600 ">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-sky-500 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-900 rounded-lg hover:bg-lime-700 
        focus:ring-4 focus:outline-none ">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>
    
    <!-- Repite el mismo código para las otras dos tarjetas -->
    
    <!-- Tarjeta 2 -->
   <!-- seccion de cards inicio -->
   <div class="max-w-sm bg-lime-200 border border-gray-200 rounded-lg shadow  mb-4 md:mr-4 md:mb-0 md:flex-1">
    <a href="#">
      <img class="rounded-t-lg" src="https://img.molachinoviajes.com/gallery/var/albums/erol-ahmed-d3pTF3r_hwY-unsplash.jpg?m=1708900727" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-sky-600 ">Noteworthy technology acquisitions 2021</h5>
      </a>
      <p class="mb-3 font-normal text-sky-500 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-900 rounded-lg hover:bg-lime-700 
      focus:ring-4 focus:outline-none ">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>
  
    <!-- Tarjeta 3 -->
  <!-- seccion de cards inicio -->
  <div class="max-w-sm bg-lime-200 border border-gray-200 rounded-lg shadow  mb-4 md:mr-4 md:mb-0 md:flex-1">
    <a href="#">
      <img class="rounded-t-lg" src="https://img.molachinoviajes.com/gallery/var/albums/erol-ahmed-d3pTF3r_hwY-unsplash.jpg?m=1708900727" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-sky-600 ">Noteworthy technology acquisitions 2021</h5>
      </a>
      <p class="mb-3 font-normal text-sky-500 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-900 rounded-lg hover:bg-lime-700 
      focus:ring-4 focus:outline-none ">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>>
    </div>
  </div>
  



   <!-- seccion de card fin -->
  

   </section>