<!DOCTYPE html>

<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
>
  <head th:insert="~{fragments/head}"></head>
  <!-- para desarollo despues eliminar  -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
    rel="stylesheet"
  />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

  <!-- para desarollo despues eliminar  -->

  <body>
    <nav th:insert="~{fragments/nav_bar}"></nav>
    <section th:insert="~{fragments/hero}"></section>
  </body>
</html>
